# Watch flake.nix for changes.
watch_file flake.nix

# Disable builders for trivial flake actions, such as direnv reload.
# Helps us reduce overhead introduced by a redundant network request.
if ! use flake . ; then
  echo "Default shell could not be loaded." >&2
fi
